*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

header{
    background-color:#333399;
    color: white;
    width: auto;
    align-items: center;
    display: flex;
    padding: 0 10px;
    justify-content: space-between;
    letter-spacing: 3px;
}

header h1:hover{
    color: red;
    cursor: pointer;
    transition: 1.5s ease-out;
}

nav a{
    color: white;
    text-decoration: none;
}

nav a:hover{
    color: red;
}

/* MAIN (CORPO DO BONECO) */
main{
    padding: 50px;
    text-align: center;
}

#corpo-cima{
    width:100px;
    height:100px;
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-50px;
    margin-left:-50px
}

/* CABEÇA */
#cabeca img{
    position: absolute;    
    width: auto;
    height: 150px;
    top: 89px;
    left: 655px;
    display: none;
}


/* TRONCO */
#tronco img{
    position: absolute;
    width: 20px;
    height: auto;
    top: 240px;
    display: none;
}

/* BRAÇOS */
#bracoe img{
    position: absolute;
    left: 738px;
    top: 270px;
    width: 90px;
    height: auto;
    display: none;
}

#bracod img{
    position: absolute;
    left: 630px;
    top: 270px;
    width: 90px;
    height: auto;
    display: none;
}

/* PERNAS */
#pernad img{
    position: absolute;
    top: 400px;
    left: 620px;
    width: 100px;
    height: auto; 
    display: none;
}

#pernae img{
    position: absolute;
    top: 400px;
    left: 740px;
    width: 100px;
    height: auto; 
    display: none;
}

/* PALAVRAS */
.palavras{
    font-size: 20pt;
    font-weight: 400;
    position: relative;
    top: 430px;
    margin-left: 5px;
}

.linhas{
    display: flex;
    margin-top: 540px;
    margin-left: 530px; 

}

form{
    position: absolute;
    margin-left: 540px;
    margin-top: 405px;
    width: 250px;
    height: 20px;
   
}

form input{
    border-radius: 15px 0 0 15px;
    font-size: 12pt;
    height: auto;
    width: 80%;
    text-align: center;
}

form #button{
    background-color: gray;
    border: 1px;
    color: white;
    cursor: pointer;
    border-radius: 0 15px 15px 0;
    font-size: 18pt;
    height: auto;
    width: 30%;
}

form #button a:hover{
    background-color: firebrick;
}

.visivel{
    display: block;
}
