body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

header{
    background-color: black;
    color: white;
    width: auto;
    align-items: center;
    display: flex;
    padding: 0 10px;
    justify-content: center;
    letter-spacing: 3px;
}

/* MAIN (CORPO DO BONECO) */
main{
    padding: 50px;
    text-align: center;
}

#corpo-cima{
    width:100px;
    height:100px;
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-50px;
    margin-left:-50px
}

/* CABEÇA */
#cabeca img{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;       
    width: auto;
    height: 150px;
}


/* TRONCO */
#tronco img{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    width: 20px;
    height: auto;
}

/* BRAÇOS */
#bracoe img{
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: space-around;
    width: 90px;
    height: auto;
}

#bracod img{
    display: flex;
    flex-direction: row;
    justify-content: space-around   ;
    width: 90px;
    height: auto;
}

/* PERNAS */
#pernad img{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;  
    width: 100px;
    height: auto; 
}

#pernae img{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;  
    width: 100px;
    height: auto; 
}

/* PALAVRAS */
.palavras{
    
}